<?xml version="1.0"?>

<model>
    <name>aruco_box</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>
    <author>
        <name>JATINROOPAK</name>
        <email>noneed@todo.todo</email>
    </author>
    <description>
        A simple box with a aruco marker.
    </description>
</model>